<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="MatriculaColegioPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>com.Entidades.Usuario</class>
    <class>com.Entidades.Estudiante</class>
    <class>com.Entidades.Docente</class>
    <class>com.Entidades.AreasDocente</class>
    <class>com.Entidades.Salon</class>
    <class>com.Entidades.Apoderado</class>
    <class>com.Entidades.Curso</class>
    <class>com.Entidades.Clase</class>
    <class>com.Entidades.Matricula</class>
    <class>com.Entidades.Horario</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/matriculacolegio?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value=""/>
    </properties>
  </persistence-unit>
</persistence>
